name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - {{ main_branch }}

jobs:
  pre-commit:
    uses: coatl-dev/workflows/.github/workflows/pre-commit.yml@c851b241d1196c52b5083e023c0d63e06edf838e # v7.0.8
    with:
      skip-hooks: 'pylint'

  pylint:
    needs: pre-commit
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@c851b241d1196c52b5083e023c0d63e06edf838e # v7.0.8

  tox-package:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@c851b241d1196c52b5083e023c0d63e06edf838e # v7.0.8

  tox-stubs:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox.yml@c851b241d1196c52b5083e023c0d63e06edf838e # v7.0.8
    with:
      python-versions: |
        3.9
        3.10
        3.11
        3.12
      working-directory: stubs
