name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  pre-commit:
    uses: coatl-dev/workflows/.github/workflows/pre-commit.yml@v6
    with:
      skip-hooks: 'pylint'

  pylint:
    needs: pre-commit
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@v6

  tox-package:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@v6
{% if generate_stubs %}
  tox-stubs:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox.yml@v6
    with:
      python-versions: |
        3.9
        3.10
        3.11
        3.12
      working-directory: stubs
{% endif %}