name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - {{ main_branch }}

jobs:
  pre-commit:
    uses: coatl-dev/workflows/.github/workflows/pre-commit.yml@69756acce55f5d512b458083801a29e444b71832 # v7.0.23
    with:
      skip-hooks: 'pylint'

  pylint:
    needs: pre-commit
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@69756acce55f5d512b458083801a29e444b71832 # v7.0.23

  tox-package:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@69756acce55f5d512b458083801a29e444b71832 # v7.0.23

  tox-stubs:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox.yml@69756acce55f5d512b458083801a29e444b71832 # v7.0.23
    with:
      python-versions: |
        3.9
        3.10
        3.11
        3.12
      working-directory: stubs
