name: publish

on:
  release:
    types:
      - published

jobs:
  tox-package:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@395018a3c81c2a88aac15fd87a373280c70675c0 # v7.0.1

  tox-stubs:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox.yml@395018a3c81c2a88aac15fd87a373280c70675c0 # v7.0.1
    with:
      python-versions: |
        3.9
        3.10
        3.11
        3.12
      working-directory: stubs

  pypi-publish-package:
    needs: [tox-package]
    uses: coatl-dev/workflows/.github/workflows/pypi-upload.yml@395018a3c81c2a88aac15fd87a373280c70675c0 # v7.0.1
    with:
      python-version: '2.7'
      url: '{{ registry_url }}'
      username: '{{ registry_username }}'
    secrets:
      password: ${% raw %}{{ secrets.SECRET_TOKEN_OR_PASSWORD }}{% endraw %}

  pypi-publish-stubs:
    needs: [tox-stubs]
    uses: coatl-dev/workflows/.github/workflows/pypi-upload.yml@395018a3c81c2a88aac15fd87a373280c70675c0 # v7.0.1
    with:
      python-version: '3.12'
      url: '{{ registry_url }}'
      username: '{{ registry_username }}'
      working-directory: 'stubs'
    secrets:
      password: ${% raw %}{{ secrets.SECRET_TOKEN_OR_PASSWORD }}{% endraw %}
