name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - {{ main_branch }}

jobs:
  pre-commit:
    uses: coatl-dev/workflows/.github/workflows/pre-commit.yml@b34790bdaf37a4222400b7403f8e79129e988020 # v7.0.11
    with:
      skip-hooks: 'pylint'

  pylint:
    needs: pre-commit
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@b34790bdaf37a4222400b7403f8e79129e988020 # v7.0.11
