name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - {{ main_branch }}

jobs:
  pre-commit:
    uses: coatl-dev/workflows/.github/workflows/pre-commit.yml@11a90ddfb3713891c25b2d308d10b144f847dd52 # v7.0.17
    with:
      skip-hooks: 'pylint'

  pylint:
    needs: pre-commit
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@11a90ddfb3713891c25b2d308d10b144f847dd52 # v7.0.17
