name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - {{ main_branch }}

jobs:
  pre-commit:
    uses: coatl-dev/workflows/.github/workflows/pre-commit.yml@v7.0.0
    with:
      skip-hooks: 'pylint'

  pylint:
    needs: pre-commit
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@v7.0.0

  jython:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    runs-on: ubuntu-latest
    env:
      JYTHON_CACHE_DIR: $HOME/.cache/jython
    steps:
      - name: Checkout repo
        uses: actions/checkout@df4cb1c069e1874edd31b4311f1884172cec0e10 # v6.0.3

      - name: Set up Jython
        uses: coatl-dev/actions/setup-jython@208567f6e604baf94c6e867ec7f345ec9ad36eb4 # v7.0.0
        id: setup-jython
        with:
          jython-version: '2.7.3'

      - name: Cache Jython
        uses: actions/cache@27d5ce7f107fe9357f9df03efb73ab90386fccae # v5.0.5
        with:
          path: ${% raw %}{{ env.JYTHON_CACHE_DIR }}{% endraw %}
          key: jy-${% raw %}{{ steps.setup-jython.outputs.jython-version }}{% endraw %}-${% raw %}{{ runner.os }}{% endraw %}-${% raw %}{{ steps.setup-jython.outputs.java-distribution }}{% endraw %}-${% raw %}{{ steps.setup-jython.outputs.java-version }}{% endraw %}-${% raw %}{{ hashFiles('setup.py') }}{% endraw %}

      - name: Test installation on Jython
        run: |
          make install JYTHON_CACHE_DIR=${% raw %}{{ env.JYTHON_CACHE_DIR }}{% endraw %}

  tox-package:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@v7.0.0

  tox-stubs:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox.yml@v7.0.0
    with:
      python-versions: |
        3.9
        3.10
        3.11
        3.12
      working-directory: stubs
