name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - {{ main_branch }}

jobs:
  pre-commit:
    uses: coatl-dev/workflows/.github/workflows/pre-commit.yml@f041f435b9aceead0ef21604b634fd8ef3389c2f # v7.0.3
    with:
      skip-hooks: 'pylint'

  pylint:
    needs: pre-commit
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@f041f435b9aceead0ef21604b634fd8ef3389c2f # v7.0.3

  jython:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    runs-on: ubuntu-latest
    env:
      JYTHON_CACHE_DIR: $HOME/.cache/jython
    steps:
      - name: Checkout repo
        uses: actions/checkout@9c091bb21b7c1c1d1991bb908d89e4e9dddfe3e0 # v7.0.0

      - name: Set up Jython
        uses: coatl-dev/actions/setup-jython@25b15c8e562e6c9e509bd29ea0b0da5ec6b26a1f # v7.0.4
        id: setup-jython
        with:
          jython-version: '2.7.3'

      - name: Cache Jython
        uses: actions/cache@2c8a9bd7457de244a408f35966fab2fb45fda9c8 # v6.0.0
        with:
          path: ${% raw %}{{ env.JYTHON_CACHE_DIR }}{% endraw %}
          key: jy-${% raw %}{{ steps.setup-jython.outputs.jython-version }}{% endraw %}-${% raw %}{{ runner.os }}{% endraw %}-${% raw %}{{ steps.setup-jython.outputs.java-distribution }}{% endraw %}-${% raw %}{{ steps.setup-jython.outputs.java-version }}{% endraw %}-${% raw %}{{ hashFiles('setup.py') }}{% endraw %}

      - name: Test installation on Jython
        run: |
          make install JYTHON_CACHE_DIR=${% raw %}{{ env.JYTHON_CACHE_DIR }}{% endraw %}

  tox-package:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@f041f435b9aceead0ef21604b634fd8ef3389c2f # v7.0.3

  tox-stubs:
    if: ${% raw %}{{ github.event_name == 'pull_request' }}{% endraw %}
    uses: coatl-dev/workflows/.github/workflows/tox.yml@f041f435b9aceead0ef21604b634fd8ef3389c2f # v7.0.3
    with:
      python-versions: |
        3.9
        3.10
        3.11
        3.12
      working-directory: stubs
